@charset "ISO-8859-1";
* {
	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

/* ------- I N I C I O  LINHA REDES SOCIAIS ------- */
.principal .redesSociais {
	
	width: 100%;
	height: 5vh;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	background-color: #93E1D8;
	
	/*border: 2px solid black;*/
}

.principal .redesSociais h4 {
	
	font-family: "Economica", sans-serif;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 2px;

}

.principal .redesSociais a {
	
	width: 1.5%;
	
	margin-left: 0.5%;
	margin-right: 0.5%;
	
	/*border: 2px solid black;*/

}

.principal .redesSociais .iconInsta {
	
	width: 2.5%;
	
	margin-left: 0.5%;
	margin-right: 0.5%;
	
	/*border: 2px solid black;*/

}

.principal .redesSociais a img {
	
	width: 100%;
	
	/*border: 2px solid black;*/

}
/* ------- F I M  LINHA REDES SOCIAIS ------- */


/* ------- I N I C I O  HEADER ------- */
header {
	
	width: 100%;
	height: 120vh;
	
	position: relative;
	
	background-image: url(../img/fundo5.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	background-color: red;
	
}

header .filtro {
	
	width: 100%;
	height: 120vh;
	
	position: absolute;
	
	background: linear-gradient( rgba(0, 0, 0, 0.589) 70% , white);
	/*background-color: rgba(0, 0, 0, 0.589);*/
	
}

header .filtro nav {
	
	width: 100%;
	height: 15vh;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	background-color: #f5b696;
	
}

header .filtro nav .logo {
	
	width: 15%;
	height: 14vh;
	
	margin-left: 1%;
	
	overflow: hidden;
	
	/*border: 2px solid black;*/
	
}

header .filtro nav .logo img {
	
	width: 130%;
	
	margin-left: -13%;
	margin-top: -47%;
	
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	
	/*border: 2px solid yellow;*/
	
}

header .filtro nav ul {
	
	width: 70%;
	height: 10vh;
	
	
	
	list-style-type: none;
	padding: 0;
	
	/*border: 2px solid blue;*/
	
}

header .filtro nav ul li {
	
	display: inline-block;
	
	margin-left: 1.7%;
	margin-right: 1.7%;
	
	padding: 15px;
	
	/*border: 2px solid yellow;*/
	
}

header .filtro nav ul li a {
	
	text-decoration: none;
	
	color: black;
	
	letter-spacing: 2px;
	font-size: 2.5vh;
	
	font-family: "Economica", sans-serif;
	font-weight: 700;
	font-style: normal;
	
}

header .filtro nav ul li:hover a {
	
	border-bottom: 2px solid black;
	
}

header .filtro .secTituloHeader {
	
	width: 45%;
	height: 70vh;
	
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	
	color: white;
	
	margin-left: 5%;
	
	/*border: 2px solid yellow;*/
	
}

header .filtro .secTituloHeader h2 {

	width: 70%;
	
	font-size: 8vh;
	
	font-family: "Zilla Slab", serif;
  	font-weight: 300;
  	font-style: normal;
	
	margin-left: 3%;
	
	/*border: 2px solid goldenrod;*/
	
}

header .filtro .secTituloHeader h1 {

	width: 75%;
	
	font-size: 8vh;
	
	font-family: "Twinkle Star", cursive;
  	font-weight: 400;
  	font-style: normal;
	
	margin-left: 3%;
	
	/*border: 2px solid goldenrod;*/
	
}

header .filtro .secTituloHeader p {
	
	width: 70%;
	
	font-size: 3.7vh;
	
	font-family: "Zilla Slab", serif;
  	font-weight: 300;
  	font-style: normal;
	
	margin-top: 2%;
	margin-left: 3%;
	
	/*border: 2px solid blue;*/
	
}

header .filtro .secTituloHeader p span {
	
	width: 70%;
	
	color: yellow;
	
	font-size: 3.9vh;

	font-family: "Twinkle Star", cursive;
  	font-weight: 400;
  	font-style: normal;
	
	margin-top: 2%;
	margin-left: 3%;
	
	/*border: 2px solid blue;*/
	
}
/* ------- F I M  HEADER ------- */
